*.suo
bin/assimp.dll
*.dll
bin/zannahFans.exe
*.exp
bin/zannahFans_debug.lib
*.pdb
*.user
zannahFans.vcxproj.filters
*.sdf
zannahFans.vcxproj
*.sln
*.tlog
obj/Release/tinyxmlerror.obj
*.obj
bin/zannahFans_debug.exe
*.ilk
*.cache
obj/Release/zannahFans.log
*.res
obj/Debug/zannahFans.log
*.lib